.visible {
    display:block!important;
}
.queryForm {
    zoom:1
}
.queryForm:after {
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
    content: '';
}
.queryForm>p {
    float: left;
    margin: 10px 10px 0 0;
}
.queryForm>a {
    width: 90px;
    margin: 10px 3px;
}
.queryForm>p>input {
    width: 170px;
}
.queryFormButton>a {
    width:90px;
    margin: 0 3px;
}
#left {
    margin-right: 15px;
    float: left;
    width: 200px;
    height: 500px;
    border: 1px solid black;
}
#left a {
    font-size: 15px;
}
#dg {
    max-height: 600px;
    width: 600px;
}