<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/easyUI/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/easyUI/mobile.css">
    <link rel="stylesheet" type="text/css" href="/static/easyUI/icon.css">
    <script type="text/javascript" src="/static/easyUI/jquery.min.js"></script>
    <script type="text/javascript" src="/static/easyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/easyUI/jquery.easyui.mobile.js"></script>
    <title>测试</title>
</head>
<body>
<h1>用户输入</h1>
<form action="/addUser/" method="post">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="submit" value="提交"/>
</form>
<hr />
<h1>用户展示</h1>
<table id="dg" data-options="header:'#hh',singleSelect:true,border:false,fit:true,fitColumns:false,scrollbarSize:0">
    <thead>
    <tr>
        <th data-options="field:'user',width:80">用户名</th>
        <th data-options="field:'pswd',width:100">密码</th>
    </tr>
    </thead>
</table>
<script>
    var data = {{ data|safe }};
    $(function(){
        $('#dg').datagrid({
            data: data
        });
    });
</script>
</body>
</html>