<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.6.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.6.2/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.6.2/demo/demo.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.6.2/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.6.2/jquery.easyui.mobile.js"></script>
    <script type="text/javascript" src="/static/js/userOption.js"></script>
    <title>测试</title>
</head>
<body class="easyui-layout" style="margin-top:10px;margin-bottom: 10px;">
<div id="navigation" data-options="region:'west',split:true,title:'导航栏'" style="width:200px;padding:10px;">
    <h2>参考手册1</h2>
    <ul id="left_1">
        <li>
            <a href="/login/" title="test">测试1</a>
        </li>
        <li>
            <a href="/home/" title="test">测试2</a>
        </li>
    </ul>
    <h2>参考手册2</h2>
    <ul id="left_2">
        <li>
            <a href="/login/" title="test">测试3</a>
        </li>
        <li>
            <a href="/home/" title="test">测试4</a>
        </li>
    </ul>
</div>
<div data-options="region:'center',split:true,title:'用户批量操作'" >

    <div class="easyui-panel" title="数据导出" style="width:260px;padding:10px 20px;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="exportData()" style="width:90px;">数据导出</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-help'" onclick="downloadModel()" style="width:120px;">操作模板下载</a>
    </div>

    <form id="questionTypesManage"  method="post" enctype="multipart/form-data">
        选择文件：　<input id="uploadExcel" name="uploadExcel" class="easyui-filebox" style="width:200px" data-options="prompt:'请选择文件...'">
        　　<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="uploadExcel()" style="width:90px;">数据导入</a>     　　　　　
    </form>

{#    <table id="dg" title="数据处理情况" ></table>#}
</div>
</body>
</html>