<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.6.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.6.2/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.6.2/demo/demo.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.6.2/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.6.2/jquery.easyui.mobile.js"></script>
    <script type="text/javascript" src="/static/js/userOption.js"></script>
    <title>用户信息批量管理</title>
</head>
<body class="easyui-layout">
<div id="navigation" data-options="region:'west',split:true,title:'导航栏'">
    <h2>用户管理</h2>
    <ul id="left_1">
        <li>
            <a href="/user/" title="test">用户信息管理</a>
        </li>
        <li>
            <a href="/user/userOption/" title="test">用户信息批量管理</a>
        </li>
    </ul>
    <h2>用户管理</h2>
    <ul id="left_1">
        <li>
            <a href="/user/" title="test">用户信息管理</a>
        </li>
        <li>
            <a href="/user/userOption/" title="test">用户信息批量管理</a>
        </li>
    </ul>
</div>
<div id="right" data-options="region:'center',split:true,title:'用户信息批量管理'">

    <div class="easyui-panel" title="1. 导出数据" >
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="exportData()" style="width:90px">数据导出</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-help'" onclick="downloadModel()" style="width:120px;margin-left: 15px">操作模板下载</a>
    </div>

    <div class="easyui-panel" title="2. 导入数据">
    <form id="questionTypesManage"  method="post" enctype="multipart/form-data">
        <input id="uploadExcel" name="uploadExcel" class="easyui-filebox" style="width:200px" required="required" data-options="prompt:'请选择文件...',missingMessage:'导入必填项'">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="uploadExcel()" style="width:90px;margin-left:20px;">开始导入</a>     　　　　　
    </form>
    </div>

    <table id="dg" title="3. 数据处理失败列表"></table>
    <div id="tb">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="checkAll()" style="width:120px;margin:5px 15px;">导出失败数据</a>
    </div>
</div>
</body>
</html>