<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.6.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.6.2/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.6.2/demo/demo.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.6.2/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.6.2/jquery.easyui.mobile.js"></script>
    <script type="text/javascript" src="/static/js/user.js"></script>
    <title>测试</title>
</head>
<body class="easyui-layout" style="margin-top:10px;margin-bottom: 10px;">
<div id="navigation" data-options="region:'west',split:true,title:'导航栏'" style="width:200px;padding:10px;">
    <h2>参考手册1</h2>
    <ul id="left_1">
        <li>
            <a href="/login/" title="test">测试1</a>
        </li>
        <li>
            <a href="/home/" title="test">测试2</a>
        </li>
    </ul>
    <h2>参考手册2</h2>
    <ul id="left_2">
        <li>
            <a href="/login/" title="test">测试3</a>
        </li>
        <li>
            <a href="/home/" title="test">测试4</a>
        </li>
    </ul>
</div>
<div data-options="region:'center',split:true,title:'用户信息'" >
    <table id="dg" title="操作" ></table>
    <div id="tb">
        <form id="search" method="post">
            <div style="margin-bottom:10px">
                <div class="queryForm" style="margin-left: 10px">
                    <p style="margin-left: 0px;">用户名: <input type="text" name="user" required="required" /></p>
                    <p>密 码 : <input type="text" name="pswd" required="required" style="margin-right: 10px"/></p>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="queryData(1,10,1)" style="width:90px;margin:10px 0px;">精确查询</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="queryData(1,10,'fuzzy')" style="width:90px;">模糊查询</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo'" onclick="clearForm('#search')" style="width:90px;">重置条件</a>
                    <br/>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="insertRow()" style="width:90px;">新增数据</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="deleteData()" style="width:90px;">删除数据</a>
                    <a href="userOption" class="easyui-linkbutton" data-options="iconCls:'icon-tip'" style="width:90px;">批量操作</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>